.infoContainer {
  color: #fff;

  @media screen and (max-width: 768px) {
    padding: 100px 0;
  }

  .wrapper {
    display: grid;
    z-index: 1;
    height: 860px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    justify-content: center;

    .row {
      display: grid;
      grid-template-columns: minmax(auto, 1fr);
      align-items: center;

      .column1 {
        margin-bottom: 15px;
        padding: 0 15px;

        .text {
          max-width: 540px;
          padding-top: 0;
          padding-bottom: 60px;

          .topLine {
            color: #01bf71;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 700;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            margin-bottom: 1rem;
          }

          .heading {
            margin-bottom: 24px;
            font-size: 48px;
            line-height: 1.1;
            font-weight: 600;

            @media screen and (max-width: 768px) {
              font-size: 32px;
            }
          }

          .subtitle {
            max-width: 440px;
            margin-bottom: 35px;
            font-size: 18px;
            line-height: 24px;
          }

          .btn {
            display: flex;
            justify-content: flex-start;
          }
        }
      }

      .column2 {
        margin-bottom: 15px;
        padding: 0 15px;

        .imgWarp {
          max-width: 555px;
          height: 100%;

          img {
            width: 100%;
            margin: 0 0 10px 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
